*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;
}



.carrusel-marcas{
    background-color:rgb(156, 135, 135);
    padding:10px;
    display:flex;
    justify-content: center;
}

section .card-carrusel .image{
    height: 140px;
    width: 140px;
    padding:3px;
    background:#907761;
    border-radius:30%;
}

section .card-carrusel .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50%;
    
}


.card-carrusel{
    position: relative;

}

.card-carrusel::before{
    content:"";
    position: absolute;
    height:40%;
    width:100%;

}

.card-carrusel .card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index:100; 
}


#fa-cart{
    color:white;
}

.botonCarrito{
    width:180px;
    color:white;
    background-color: black;
    border-radius:10px;
}

.botonEliminar{
    height:40px;
    margin-top:50px;
}


.imagenes-carrusel{
    width:150px;
    border-radius:50px;
    
}

.carrusel-items{
    display: flex;
    overflow-x: scroll;
    overflow-x: hidden;
    background-color: rgb(188, 192, 192);
}


.carrusel-item img{
    object-fit:cover;
}











.modal-texto{
    display:flex;
    justify-content: space-between;
}

.filtro{
    display: none;
}



.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar{
    background-color: black;
}

.bi-cart-fill::before {
    content: "\f23d";
    color: #fff;
}

.btn-outline-dark {
    color:white !important;
    border-color: white !important;
}

.dropdown-item{
    color:white !important;
}

.dropdown-item:hover{
    color:black !important;
}

.dropdown-menu{
    background-color: black !important;
}


.navbar-light .navbar-toggler-icon {
    display: none;
}


.bannerEnvios{
    background-color:#907761;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bannerEnvios p{
    text-align: center;
    color: black;
    
}


.icono{
    width: 50px;
    height: 50px;
}


.card{
    margin-top:50px;
    margin:20px;
    transition:0.3s;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform:translateY(-2%);
}

#cards{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#cards-dos{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#cards-buzos{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.botonStyle{
    margin-left:40px;
    text-decoration: none;
    color: white;
    padding:10px;
    background-color:rgb(75, 68, 68);
    border-radius: 3px;
    border:none;
}




.titulosMenu{
    text-align: center;
    margin-top:50px;
}


footer{
    background-color: black;
    height:350px;
    width:100%;
    margin-top:50px;
    position: absolute;
}



.footerDivs{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items:center;
}


.titulosFooter{
    margin-top:50px;
    color:rgb(163, 154, 154);
}

.iconosFooter{
    display: grid;
    grid-template-columns:1fr;
}

.fa-solid{
    margin-top:20px;
    color: white;
}

.fa-solid a{
    text-decoration: none;
    color:rgb(163, 154, 154);
}

.fa-solid a:hover{
    color:white;
}


.textoHorarios{
    color:rgb(163, 154, 154);
}


.fa-brands{
    color:white;
    margin-top:30px;
}



p.copyright{
    margin:0;
    padding:0;
    margin-bottom:0;
    text-align: center;
    margin-top: 60px;
    color:rgb(163, 154, 154);
}


.imgFooter{
    width:100px;
    height:100px;
    margin-top:80px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

button:focus:not(:focus-visible) {
    outline: 0;
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    
}


.accordion{
    width:250px;
    margin-left:50px;
    margin-top:50px;
}


.menu{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.cards-jordanUno{
    margin-top:150px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}












@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: center;
    }
}

@media (max-width:700px){
    #buscador{
        width:300px;
    }
    .imagenes-carrusel{
        width:70px;
        border-radius:25px;
    }
}

@media (max-width:515px){

    footer{
        height:700px;

    }


    .footerDivs{
        grid-template-columns:1fr;
    }

}

